<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'edit.css' %}">
    <title>Edit list</title>
</head>
<body>
    <div class="wrapper">
        <h1>To-do List 수정</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="three-contents">
                <div class="title">
                    <label for="title">제목</label>
                    <input type="text" id="title" name="title" value="{{ list.title }}">
                </div>
                <div class="content">
                    <label for="content">세부사항</label>
                    <textarea name="content" id="content" cols="30" rows="10">{{ list.content }}</textarea>
                </div>
                <div class="deadline">
                    <label for="deadline">마감기한</label>
                    <input type="date" id="deadline" name="deadline">
                </div>
            </div>
            <div class="button">
                <button type="submit">수정하기</button>
            </div>
        </form>
    </div>
</body>
</html>