{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'edit.css' %}">
{% endblock %}

{% block pages %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="three-contents">
        <div class="title">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" value="{{ list.title }}">
        </div>
        <div class="content">
            <label for="content">세부사항</label>
            <textarea name="content" id="content" cols="30" rows="10">{{ list.content }}</textarea>
        </div>
        <div class="deadline">
            <label for="deadline">마감기한</label>
            <input type="date" id="deadline" name="deadline">
        </div>
    </div>
    <div class="button">
        <button type="submit">수정완료</button>
    </div>
</form>
{% endblock %}