.main_title{
  width : 400px;
  background-size: 100px;
  background-repeat:repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color:rgb(247, 247, 247);
  font-size: 20px;
  margin-top: 50px;
  border-top: 1px dotted white;
  border-bottom: 1px dotted white;
}
  
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}