.time-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.times {
    display: flex;
    flex-direction: row;
}

.time {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.days {
    display: flex;
    flex-direction: row;
}

.day {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 0px;
    padding-bottom: 8px;
}