{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'detail.css' %}">
{% endblock %}

{% block title %}
할일
{% endblock %}
{% block content %}
<div class="center">
    <h2>{{ post.title }}</h2>
</div>
<br>
<div class="center">
    <div class="detail_body">
        <p>{{ post.content }}</p>
        <br>
        <br>
        <br>
        <div class="due">작성자: {{ post.author.username }} | 작성시간:{{ post.written_time }} | 마감일: {{ post.date }}
        </div>
        <hr>
        <div>
            {% if user.is_authenticated and post.author.pk == user.pk %}
            <a href="{% url 'edit' post.pk %}" class="button">수정하기</a>&nbsp;|
            <a href="{% url 'delete' post.pk %}" class="button">삭제하기</a>&nbsp;|
            {% endif %}
            <a href="{% url 'home' %}" class="button">홈으로</a>
        </div>
    </div>
</div>

<div>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <input type='text' id='content' name='content' placeholder='댓글을 입력하세요'>
            <button type="submit">댓글 달기</button>
        </form>
    </div>
</div>
<div class="comment">
        {% for comment in post.comments.all %}
        <ul>
            <div class="flex">
                <li>{{ comment.content }}</li>
                <div class="info">
                    <p style="font-size: small; color: rgb(139, 143, 143);">작성자:{{ comment.author }}</p>
                    {% if user.is_authenticated and comment.author.pk == user.pk %}
                    <a href="{% url 'delete_comment' post.pk comment.pk %}"
                        style="font-size: small; color: rgb(139, 143, 143);">&nbsp;|&nbsp;댓글삭제</a>
                    {% endif %}
                </div>
            </div>
        </ul>
        {% endfor %}
</div>

{% endblock %}